<!--<link rel="stylesheet" href="../static/style/css/my/login.css" type="text/css">-->

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" name="loginForm" ng-show="logged_in == false">
                <fieldset>
                    <div id="legend">
                        <legend class="">Login</legend>
                    </div>
                   <!-- <div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger">
                        <strong>Error:</strong> {{errorMessage}}
                    </div>-->
                    <div uib-collapse="showError == false" class="alert alert-danger alert-dismissible fade in"
                         role="alert">
                        <strong>Error:</strong> {{errorMessage}}
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input id="username" name="username" placeholder="" class="form-control input-lg"
                                   type="text" ng-model="username" ng-minlength="3" required />
                            <!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input id="password" name="password" placeholder="" class="form-control input-lg"
                                   type="password" ng-model="password" ng-minlength="5" required />
                            <!--<p class="help-block">Password should be at least 6 characters</p>-->
                        </div>
                    </div>

                    <div class="control-group">
                        <input type="checkbox" class="check" /> Remember me
                    </div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-info" ng-click="submitLoginForm()">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
